$font-default: 'Roboto', sans-serif;
$font-head: 'Ubuntu', sans-serif;
$color-head: #c5c1c0;
$color-important: #f7ce3e;
$color-primary: #0a1612;
$color-secondary: #1a2930;

/* Universal */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 1.7em;
}

.article-title {
  font: 4em $font-head;
  color: $color-head;
}

.description {
  margin: 2.5em 0;
  padding: 0.5em 1em;
  border-left: 5px solid #f7ce3e;
  font: 0.8em/1.5 $font-default;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  -webkit-tap-highlight-color: transparent;
}

/* Header */
header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  padding: 1em;

  /* Navigation */
  nav {
    padding: 1.5em;

    /* navbar links */
    .page-links {
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style-type: none;
      li {
        margin-left: 1em;
        font: lighter 1.3em/2.5 $font-default;
        text-transform: uppercase;
        a {
          display: block;
          color: $color-important;
        }
        a:focus,
        a:active {
          color: $color-head;
        }
      }
    }
  }
}

/* Landing Page */
.background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-secondary;
  transform: skewY(-10deg);
  transform-origin: top left;
}
.home {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  .hello-greeting {
    font: 6em $font-head;
    color: $color-head;
  }
  p {
    margin-top: 1em;
    font: 1.5em $font-default;
    color: $color-head;
    .creator-name {
      color: $color-important;
    }
  }
  .title {
    font-size: 1em;
    line-height: 1.5;
    text-transform: uppercase;
    color: $color-head;
  }
}

/* About Page */
.about {
  border-top: 5em solid transparent;
  .skills-container {
    margin: auto;
    .skills-title {
      padding: 0.2em 0;
      width: 50%;
      margin: auto;
      border-bottom: 0.2px solid $color-head;
      text-align: center;
      text-transform: uppercase;
      font: bold 1em $font-head;
      color: $color-head;
    }
    .tech-container,
    .tools-container {
      text-align: center;
      margin: 1em 0;
    }
    img {
      height: 3vw;
      margin: 0.2em;
      image-rendering: -moz-crisp-edges; /* Firefox */
      image-rendering: -o-crisp-edges; /* Opera */
      image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
      image-rendering: crisp-edges;
      -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    }
  }
}

/* Portfolio Page */
.portfolio {
  border-top: 5em solid transparent;
  .project-container {
    margin-top: 2em;

    .project {
      a {
        color: $color-secondary;
      }
      a:visited,
      a:focus,
      a:active {
        color: $color-secondary;
      }
      margin: 4em 0;
      .project-title {
        margin: 1em 0;
        font: bold 1.5em $font-default;
        text-transform: uppercase;
      }
      .projectImage {
        height: max-content;
        margin: 1.5em 2em 1.5em 0;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .techUsed {
        font-family: $font-default;
        font-weight: bold;
        color: $color-secondary;
      }

      .project-description {
        margin: 1em 0;
        font: 0.8em/1.5 $font-default;
      }

      .button-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 2em;
        a {
          text-transform: uppercase;
          font: bold 1em $font-default;
        }
        a:active,
        a:focus {
          color: $color-head;
        }
        .view-live {
          color: $color-important;
        }
        .view-code {
          color: $color-secondary;
        }
      }
    }
  }
}

/* Contact Page */
.contact {
  border-top: 5em solid transparent;
  .email {
    font-weight: bolder;
    color: $color-secondary;
  }
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
  height: 4em;
  background-color: $color-primary;
  p {
    font: bolder 1em $font-head;
    text-transform: uppercase;
    color: $color-important;
  }
  i {
    color: #ffffff;
    margin-left: 0.5em;
  }
}

/* For small mobile devices */

@media screen and (max-width: 599px) {
  /* header */
  header {
    nav {
      position: fixed;
      top: 0;
      right: -60vw;
      padding: 0;
      z-index: 2;
      height: 100vh;
      background-color: #1a2930da;

      /* Style the transition when clicking the burger or close icon */
      -webkit-transition: right 0.6s ease;
      -moz-transition: right 0.6s ease;
      -ms-transition: right 0.6s ease;
      -o-transition: right 0.6s ease;
      transition: right 0.6s ease;
      div {
        margin-top: 10em;
      }
      .page-links {
        display: block;
      }
    }
  }

  /* Burger Icon - Default*/
  .burger-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 1.8em;
    width: 2em;
    z-index: 3;
    border: 2px solid $color-important;
    border-radius: 5px;
    padding: 0.2em;

    /* Burger Icon */
    .burger-icon,
    .burger-icon:before,
    .burger-icon:after {
      width: 100%;
      height: 3px;
      background-color: $color-important;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    .burger-icon {
      position: relative;
    }
    .burger-icon:before,
    .burger-icon:after {
      position: absolute;
      content: '';
      top: -7px;
    }
    .burger-icon:after {
      top: 7px;
    }
  }

  /* Navbar expanded */
  nav.expanded {
    right: 0vw;
  }

  .burger-icon-container.expanded {
    .buger-icon,
    .burger-icon:after,
    .burger-icon:before {
      top: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    .burger-icon {
      background-color: transparent;
    }
    .burger-icon:after {
      transform: rotate(45deg);
    }
    .burger-icon:before {
      transform: rotate(-45deg);
    }
  }

  /* Landing Page */
  .background {
    transform: skewY(-20deg);
  }

  /* About Page */
  .about {
    .skills-container {
      .skills-title {
        width: 90%;
      }
      img {
        height: 8vw;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  header {
    nav {
      padding: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 8em;
  }

  /* Hover effects */
  .page-links {
    li {
      a {
        font-weight: bold;
      }
      a:hover {
        color: $color-head;
      }
    }
  }

  /* About Page */
  .about {
    .content-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .description {
        width: 40%;
      }
      .skills-container {
        .skills-title {
          width: 100%;
        }
      }
    }
  }

  /* Portfolio Page */
  .project {
    a:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
    .projectContent {
      display: flex;
      align-items: center;
      .projectImage {
        justify-content: center;
        margin: 2em;
        width: 50%;
        height: max-content;
      }
      .projectInfo {
        width: 50%;
      }
    }
  }

  /* footer */
  .profile-container {
    i:hover {
      color: $color-important;
    }
    i:active,
    i:focus {
      color: $color-head;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 12em;
  }

  /* Portfolio Page */
  .projectImage {
    width: 70%;
  }
  .projectInfo {
    width: 30%;
  }
}
