/* Universal */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 1.7em;
}

.article-title {
  font: 4em "Ubuntu", sans-serif;
  color: #c5c1c0;
}

.description {
  margin: 2.5em 0;
  padding: 0.5em 1em;
  border-left: 5px solid #f7ce3e;
  font: 0.8em/1.5 "Roboto", sans-serif;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  -webkit-tap-highlight-color: transparent;
}

/* Header */
header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  padding: 1em;
  /* Navigation */
}
header nav {
  padding: 1.5em;
  /* navbar links */
}
header nav .page-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
header nav .page-links li {
  margin-left: 1em;
  font: lighter 1.3em/2.5 "Roboto", sans-serif;
  text-transform: uppercase;
}
header nav .page-links li a {
  display: block;
  color: #f7ce3e;
}
header nav .page-links li a:focus,
header nav .page-links li a:active {
  color: #c5c1c0;
}

/* Landing Page */
.background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a2930;
  transform: skewY(-10deg);
  transform-origin: top left;
}

.home {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.home .hello-greeting {
  font: 6em "Ubuntu", sans-serif;
  color: #c5c1c0;
}
.home p {
  margin-top: 1em;
  font: 1.5em "Roboto", sans-serif;
  color: #c5c1c0;
}
.home p .creator-name {
  color: #f7ce3e;
}
.home .title {
  font-size: 1em;
  line-height: 1.5;
  text-transform: uppercase;
  color: #c5c1c0;
}

/* About Page */
.about {
  border-top: 5em solid transparent;
}
.about .skills-container {
  margin: auto;
}
.about .skills-container .skills-title {
  padding: 0.2em 0;
  width: 50%;
  margin: auto;
  border-bottom: 0.2px solid #c5c1c0;
  text-align: center;
  text-transform: uppercase;
  font: bold 1em "Ubuntu", sans-serif;
  color: #c5c1c0;
}
.about .skills-container .tech-container,
.about .skills-container .tools-container {
  text-align: center;
  margin: 1em 0;
}
.about .skills-container img {
  height: 3vw;
  margin: 0.2em;
}

/* Portfolio Page */
.portfolio {
  border-top: 5em solid transparent;
}
.portfolio .project-container {
  margin-top: 2em;
}
.portfolio .project-container .project {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-content: space-between;
  height: 16em;
  margin: 1.5em 0;
  padding: 1.5em;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio .project-container .project .project-title {
  padding: 0.5em;
  font: bold 1.5em "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.portfolio .project-container .project .project-description {
  margin: 1em 0;
  font: 0.8em/1.5 "Roboto", sans-serif;
  text-align: center;
}
.portfolio .project-container .project .button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
}
.portfolio .project-container .project .button-container a {
  text-transform: uppercase;
  font: bold 1em "Roboto", sans-serif;
}
.portfolio .project-container .project .button-container a:active,
.portfolio .project-container .project .button-container a:focus {
  color: #c5c1c0;
}
.portfolio .project-container .project .button-container .view-live {
  color: #f7ce3e;
}
.portfolio .project-container .project .button-container .view-code {
  color: #1a2930;
}

/* Contact Page */
.contact {
  border-top: 5em solid transparent;
}
.contact .email {
  font-weight: bolder;
  color: #1a2930;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
  height: 4em;
  background-color: #0a1612;
}
footer p {
  font: bolder 1em "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: #f7ce3e;
}
footer i {
  color: #ffffff;
  margin-left: 0.5em;
}

/* For small mobile devices */
@media screen and (max-width: 599px) {
  /* header */
  header nav {
    position: fixed;
    top: 0;
    right: -60vw;
    padding: 0;
    z-index: 2;
    height: 100vh;
    background-color: #1a2930da;
    /* Style the transition when clicking the burger or close icon */
    -webkit-transition: right 0.6s ease;
    -moz-transition: right 0.6s ease;
    -ms-transition: right 0.6s ease;
    -o-transition: right 0.6s ease;
    transition: right 0.6s ease;
  }
  header nav div {
    margin-top: 10em;
  }
  header nav .page-links {
    display: block;
  }

  /* Burger Icon - Default*/
  .burger-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 1.8em;
    width: 2em;
    z-index: 3;
    border: 2px solid #f7ce3e;
    border-radius: 5px;
    padding: 0.2em;
    /* Burger Icon */
  }
  .burger-icon-container .burger-icon,
.burger-icon-container .burger-icon:before,
.burger-icon-container .burger-icon:after {
    width: 100%;
    height: 3px;
    background-color: #f7ce3e;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .burger-icon-container .burger-icon {
    position: relative;
  }
  .burger-icon-container .burger-icon:before,
.burger-icon-container .burger-icon:after {
    position: absolute;
    content: "";
    top: -7px;
  }
  .burger-icon-container .burger-icon:after {
    top: 7px;
  }

  /* Navbar expanded */
  nav.expanded {
    right: 0vw;
  }

  .burger-icon-container.expanded .buger-icon,
.burger-icon-container.expanded .burger-icon:after,
.burger-icon-container.expanded .burger-icon:before {
    top: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .burger-icon-container.expanded .burger-icon {
    background-color: transparent;
  }
  .burger-icon-container.expanded .burger-icon:after {
    transform: rotate(45deg);
  }
  .burger-icon-container.expanded .burger-icon:before {
    transform: rotate(-45deg);
  }

  /* Landing Page */
  .background {
    transform: skewY(-20deg);
  }

  /* About Page */
  .about .skills-container .skills-title {
    width: 90%;
  }
  .about .skills-container img {
    height: 8vw;
  }
}
@media screen and (min-width: 600px) {
  header nav {
    padding: 0;
  }

  /* Portfolio Page */
  .portfolio .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2em;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 8em;
  }
}
@media screen and (min-width: 900px) {
  .container {
    padding: 0 12em;
  }

  /* Hover effects */
  .page-links li a {
    font-weight: bold;
  }
  .page-links li a:hover {
    color: #c5c1c0;
  }

  /* About Page */
  .about .content-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .about .content-container .description {
    width: 40%;
  }
  .about .content-container .skills-container .skills-title {
    width: 100%;
  }

  /* Portfolio Page */
  .portfolio .project-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolio .project-container .project .button-container a:hover {
    color: #c5c1c0;
  }

  /* footer */
  .profile-container i:hover {
    color: #f7ce3e;
  }
  .profile-container i:active,
.profile-container i:focus {
    color: #c5c1c0;
  }
}

/*# sourceMappingURL=style.css.map */
