*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font: 5vw 'Barlow', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

.container{
    margin: 0;
    padding: 0;
}

a{
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

li{
    list-style-type: none;
}

h1{
    font: bold 20vw 'Barlow Semi Condensed', sans-serif;
    color: #028174;
    text-transform: uppercase;
    
}

h2{
    font: lighter 14vw 'Barlow Semi Condensed', sans-serif;
    color: #92DE8B;
    text-transform: uppercase;
    margin-bottom: 1rem;
}


/* ===============================
        Styling the Navbar 
=================================*/
.navbar{
    position: fixed;
    top:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100vw;
    padding: 1.5rem;
    background-color: #FFF;
    z-index: 1;
}

.logo{
    z-index: 2;
    background: url(logo.png) no-repeat center center/cover;
    display: inline-block;
    height: 50px;
    width: 80px;
}

/* Styling the burger icon
============================ */
.burger-toggle{
    position: absolute;
    top: 0;
    right: 0;
    height: 3.2em;
    width: 3.2em;
    z-index: 3;
    opacity: 0; 
}

.burger-icon{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    height: 3em;
    width: 3em;
    padding: .5em;
}

.burger-icon .close{
    display: none;
}

/* Fixing the link container 
=============================*/
.link-container div{
    position: absolute;
    height: 100vh;
    width: 50vw;
    top: 0;
    right: -100vw;
    padding: 1em;
    z-index: 1;
    transition: 0.5s ease;
    background-color: rgba(2, 129, 116, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Show the menu when checked */
.burger-toggle:checked ~ .link-container div{
    right:0;
    transition: all 0.3s ease;
}

/* Change the icon when the menu is showing */
.burger-toggle:checked ~ .burger-icon .close{
    transition: 0.4s ease; 
    display: block;
}

.burger-toggle:checked ~ .burger-icon .burger{
    display: none;
    transition: 0.5s ease;
}

/* Styling the page links */
.page-links li{
    padding: 0.5em;
    font-size: 4vh;
}

.page-links li a{
    color: #FFE3B3;
    font-weight: lighter;
}

.page-links li a:active{
    color: #028174;
    transition: 0.2s ease;
}


/* =======================
    Styling home page
====================== */

main{
    padding: 1.5rem;
    z-index: 1;
}

.intro{
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.intro p{
    padding-top: 1em;
    text-align: center;
    border-top: 2px solid #028174;
}

.intro p span{
    color: #0AB68B;
}

/* Solve the offset issue when a tag appears beneath the navbar after clicking the link */
#portfolio,
#about-me,
#contact {
    position: relative;
    border-top: 52px solid transparent;
    margin: -30px 0 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#portfolio:before,
#about-me:before,
#contact:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
 }


/* Styling the contact part
===========================*/
.contact{
    background-color: #0AB68B;
    margin-top: 2em;
    padding: 1em;
}

.contact h2{
    color: #FFE3B3;
}

.contact h3{
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-bottom: 1rem;
}

/* Styling the form 
====================*/
.contact-form label{
    display: block;
}

.contact-form input{
    width: 100%;
    height: 3em;
    padding: 1em;
    font-family: 'Barlow', sans-serif;
    border: 1px solid #028174;
    border-radius: 4px;
    outline: none;
    margin-bottom: 1em;
}

.contact-form textarea{
    width: 100%;
    height: 10em;
    padding: 1em;
    font-family: 'Barlow', sans-serif;
    border-radius: 4px;
    overflow: auto;
    outline: none;
    resize: none;
}

.contact-form .submit-button{
    height: 3em;
    font-family: 'Barlow', sans-serif;
    border-radius: 4px;
    border: none;
    padding: 1em;
    background-color: #028174;
    color: #FFF;
}

.contact-form input:invalid, .contact-form textarea:invalid{
    border: 2px solid rgb(233, 185, 81);
}


/* ============ 
Styling the footer
================*/
footer{
    background-color: rgb(216, 216, 216);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
    font-size: .9em;
    padding: 2em;
}

footer a, footer a:visited{
    color: #0AB68B
}

footer a:active{
    color: #028174;
}