*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

.container{
    margin: 0;
    padding: 0;
   
}

a{
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

li{
    list-style-type: none;
}

h1{
    font: bold 20vw 'Barlow Semi Condensed', sans-serif;
    color: #028174;
    text-transform: uppercase;
    
}

h2{
    font: lighter 14vw 'Barlow Semi Condensed', sans-serif;
    color: #92DE8B;
    text-transform: uppercase;
}


/* ===============================
        Styling the Navbar 
=================================*/
.navbar{
    position: fixed;
    top:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
    padding: 0 1em 0 1em;
    background-color: #FFF;
    z-index: 1;
}

.logo{
    z-index: 2;
}

/* Styling the burger icon
============================ */
.burger-toggle{
    position: absolute;
    top: 0;
    right: 0;
    height: 3.2em;
    width: 3.2em;
    z-index: 3;
    opacity: 0; 
}

.burger-icon{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    height: 3em;
    width: 3em;
    padding: .5em;
}

.burger-icon .close{
    display: none;
}

/* Fixing the link container 
=============================*/
.link-container div{
    position: absolute;
    height: 100vh;
    width: 50vw;
    top: 0;
    right: -100vw;
    padding: 1em;
    z-index: 1;
    transition: 0.5s ease;
    background-color: rgba(2, 129, 116, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Show the menu when checked */
.burger-toggle:checked ~ .link-container div{
    right:0;
    transition: all 0.5s ease;
}

/* Change the icon when the menu is showing */
.burger-toggle:checked ~ .burger-icon .close{
    transition: 0.5s ease; 
    display: block;
}

.burger-toggle:checked ~ .burger-icon .burger{
    display: none;
    transition: 0.5s ease;
}

/* Styling the page links */
.page-links li{
    padding: 0.5em;
    font-size: 4vh;
}

.page-links li a{
    color: #FFE3B3;
    font-weight: lighter;
}

.page-links li a:active{
    color: #028174;
    transition: 0.2s ease;
}


/* =======================
    Styling home page
====================== */


.intro{
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.intro p{
    padding-top: 1em;
    text-align: center;
    border-top: 2px solid #028174;
}

.intro p span{
    color: #0AB68B;
}

.intro, .portfolio, .about{
    padding: 2rem;
}

/* Styling the contact part
===========================*/
.contact{
    background-color: #0AB68B;
}



